{% extends 'base.html' %}
{% load static %}


{% block content %}
                




	

            <!-- About Section Start -->
            <div class="rs-about gray-color pt-120 pb-120 md-pt-80 md-pb-80" style="background-color: #000060;">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-6 md-mb-30">
                            <div class="rs-animation-shape">
                                <div class="images">
                                   <img src="{% static 'assets/images/about/about-3.png' %}" alt=""> 
                                </div>
                                <div class="middle-image2">
                                   <img class="dance3" src="{% static 'assets/images/about/effect-1.png' %}" alt=""> 
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 pl-60 md-pl-15">
                            <div class="contact-wrap">
                                <div class="sec-title mb-30">
                                    <div class="sub-text style-bg" style="background-color: white;color:black;">About Us</div>
                                    <h2 class="title pb-38" style="color: white;">
                                        We Are Increasing Business Success With Technology
                                    </h2>
                                    <div class="desc pb-35" style="color: white;">
                                        Enterprise Metric Suite Solutions Limited is a global business process and performance management solution provider with its international headquarters in DallasTexas, USA.   
                                    </div>

                                    <div class="desc pb-35" style="color: white;">
                                        In its expansion bid, Enterprise Metric Suite Solutions LLC acquired SPNS Consulting, a Nigeria based consulting firm with strength in business process management, performance management and enterprise transformation.
                                    </div>
                                    
                                    <div class="desc pb-35" style="color: white;">
                                        We are poised to partner with you towards transforming your business with the joint expertise of the team.
                                    </div>
                                 
                                </div>
                                <!-- <div class="btn-part">
                                    <a class="readon learn-more" href="contact.html">Learn-More</a>
                                </div> -->
                            </div>
                        </div>
                    </div>
                    <div class="shape-image">
                        <img class="top dance" src="{% static 'assets/images/about/dotted-3.png' %}" alt="">
                    </div>
                </div>
            </div>
            <!-- About Section End -->

            <!-- Team Section Start -->
            <div class="rs-team pt-120 pb-120 md-pt-80 md-pb-80 xs-pb-54"> 
                <div class="sec-title2 text-center mb-30">
                    <span class="sub-text style-bg white-color">Team</span>
                    <h2 class="title white-color">
                        Expert IT Consultants
                    </h2>
                </div>               
                <div class="container">
                    <div class="container"> 
                        <div class="rs-carousel owl-carousel" data-loop="true" data-items="3" data-margin="30" data-autoplay="true" data-hoverpause="true" data-autoplay-timeout="5000" data-smart-speed="800" data-dots="false" data-nav="false" data-nav-speed="false" data-center-mode="false" data-mobile-device="1" data-mobile-device-nav="false" data-mobile-device-dots="true" data-ipad-device="2" data-ipad-device-nav="false" data-ipad-device-dots="true" data-ipad-device2="2" data-ipad-device-nav2="false" data-ipad-device-dots2="true" data-md-device="3" data-md-device-nav="false" data-md-device-dots="true">
                            <div class="team-item-wrap">
                                <div class="team-wrap">
                                    <div class="image-inner">
                                        <a href="#"><img src="{% static 'assets/images/team/style1/1.jpg' %}" alt=""></a>
                                    </div>
                                </div>
                                <div class="team-content text-center">
                                    <h4 class="person-name"><a href="#">ROBERT P. EBERS</a></h4>
                                    <span class="designation">Global CEO</span>
                                    
                                </div>
                            </div>


                            <div class="team-item-wrap">
                                <div class="team-wrap">
                                    <div class="image-inner">
                                        <a href="#"><img src="{% static 'assets/images/team/style1/1.jpg' %}" alt=""></a>
                                    </div>
                                </div>
                                <div class="team-content text-center">
                                    <h4 class="person-name"><a href="#">DEBO ADEBAYO</a></h4>
                                    <span class="designation">EXECUTIVE DIRECTOR(EMEA)</span>
                                    
                                </div>
                            </div>



                            <div class="team-item-wrap">
                                <div class="team-wrap">
                                    <div class="image-inner">
                                        <a href="#"><img src="{% static 'assets/images/team/style1/1.jpg' %}" alt=""></a>
                                    </div>
                                </div>
                                <div class="team-content text-center">
                                    <h4 class="person-name"><a href="#">EMMANUEL MOSES</a></h4>
                                    <span class="designation">DIRECTOR, Project management office</span>
                                    
                                </div>
                            </div>



                            <div class="team-item-wrap">
                                <div class="team-wrap">
                                    <div class="image-inner">
                                        <a href="#"><img src="{% static 'assets/images/team/style1/1.jpg' %}" alt=""></a>
                                    </div>
                                </div>
                                <div class="team-content text-center">
                                    <h4 class="person-name"><a href="#">SHARON ONYENEKE</a></h4>
                                    <span class="designation">Country Manager</span>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div> 
            </div>
            <!-- Team Section End -->




{% endblock content %}




    
  